.red {

  background-color: red;

  }
.blue {

    background-color: blue;

    }

.yellow {

      background-color: yellow;

      }
.green {

        background-color: green;

        }
.row div {

  min-height: 60px;
}
